#/RevealControllerProject3.xcodeproj/xcuserdata/Nick.xcuserdatad/
#/RevealControllerProject3.xcodeproj/project.xcworkspace/xcuserdata/Nick.xcuserdatad/
#/RevealControllerProject2.xcodeproj/xcuserdata/Nick.xcuserdatad/
#/RevealControllerProject2.xcodeproj/project.xcworkspace/xcuserdata/Nick.xcuserdatad/
#/RevealControllerProject.xcodeproj/xcuserdata/Nick.xcuserdatad/
#/RevealControllerProject.xcodeproj/project.xcworkspace/xcuserdata/Nick.xcuserdatad/


martinhj.*
hhernandez.*
joan.*
*xcuserdata/*
*copy.*

# From https://github.com/github/gitignore/blob/master/Objective-C.gitignore
#
*.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/